.collaborateur-create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 5px;
    padding: 30px;
}

.collaborateur-create-form h1 {
    margin-bottom: 20px;
}

.collaborateur-create-form form {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

.collaborateur-create-form form button {
    margin: auto;
}

.collaborateur-create-form form label {
    display: flex;
    justify-content: space-between;
}

.collaborateur-create-form form input {
    margin-left: 20px;
    border: 1px lightgrey solid;
}