.entreprise-delete-forbidden {
    max-width: 600px;
    margin: auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entreprise-delete-forbidden p {
    font-size: 16px;
}